<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col >
      <img src="https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6kjfWIqB5ImR7JwXs1M3EMoAJtlSAlh...ds9vo4"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Your personal and mobile IT guy</p>
    </ion-col>
  </ion-row>
  <div class="login-box">
    <form  #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" name="Username/Email" [(ngModel)]="registerCredentials.email" placeholder="Username/Email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input *ngIf="showPassword" type="text" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" autocomplete="false" minlength="5" required></ion-input>
              <button ion-button *ngIf="showPassword" item-right clear (click)="doReveal('hide')">
                  <ion-icon name="eye-off"></ion-icon>
              </button>
              <ion-input *ngIf="!showPassword" type="password" placeholder="Choose Password" name="password" [(ngModel)]="registerCredentials.password" autocomplete="false" minlength="5" required></ion-input>
              <button ion-button *ngIf="!showPassword" item-right clear (click)="doReveal('show')">
                  <ion-icon name="eye"></ion-icon>
              </button>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid" (click)="login()">Login</button>
          <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
