<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col >
      <img src="https://www.freelogoservices.com/api/main/images/1j+ojl1FOMkX9WypfBe43D6kjfWIqB5ImR7JwXs1M3EMoAJtlSAlh...ds9vo4"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Your personal and mobile IT guy</p>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>

        <ion-slides #signupSlider>
  <ion-slide>
    <div class="login-box">
      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
      <form  #registerForm1="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" name="Fullname" [(ngModel)]="registerCredentials.regname" placeholder="Full name" autocomplete="false" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" name="Email" [(ngModel)]="registerCredentials.regmail" placeholder="Email" autocomplete="false" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="phone" name="Phone" [(ngModel)]="registerCredentials.regphone" placeholder="Phone" autocomplete="false" required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" [disabled]="!registerForm1.form.valid" (click)="next(registerCredentials.regmail)">Next <ion-icon name="arrow-forward"></ion-icon></button>
          </ion-col>
        </ion-row>

      </form>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="login-box">
      <form  #registerForm2="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-label>Register as </ion-label>
                <ion-select name="regas" [(ngModel)]="registerCredentials.regas" required>
                  <ion-option value="customer">CUSTOMER</ion-option>
                  <ion-option value="itguy">IT GUY</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input type="text" name="username" [(ngModel)]="registerCredentials.regusername" placeholder="Choose a username" minlength="5" autocomplete="false" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input *ngIf="showPassword" type="text" placeholder="Choose Password" name="password" [(ngModel)]="registerCredentials.regpass" autocomplete="false" minlength="5" required></ion-input>
                <button ion-button *ngIf="showPassword" item-right clear (click)="doReveal('hide')">
                    <ion-icon name="eye-off"></ion-icon>
                </button>
                <ion-input *ngIf="!showPassword" type="password" placeholder="Choose Password" name="password" [(ngModel)]="registerCredentials.regpass" autocomplete="false" minlength="5" required></ion-input>
                <button ion-button *ngIf="!showPassword" item-right clear (click)="doReveal('show')">
                    <ion-icon name="eye"></ion-icon>
                </button>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col col-6>
          <button ion-button class="submit-btn" (click)="prev()"><ion-icon name="arrow-back"></ion-icon> &nbsp;Back</button>
          </ion-col>
          <ion-col col-6>
          <button ion-button full color="primary" [disabled]="!registerForm2.form.valid" (click)="register()">Register</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>
</ion-slides>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="signup-col">
      Already have an account? <button ion-button class="register-btn" block clear (click)="createAccount()">Login Here</button>
    </ion-col>
  </ion-row>
</ion-content>
