modal-itguy {
  .rating{
    padding-left:0px;
  }
  .newrate {
    .rating{
      padding-left:0px;
    }
    ul {
      &.rating li {
        color:green;
        ion-icon {
          font-size: 15px;
        }
      }
    }
  }
  .statrating {
  .rating{
    padding-left:0px;
    padding-top:0px;
  }

  ul {
  padding: 0px;

  &.rating li {
    display: inline;
    border: 0px;
    padding: 0px 0px !important;
    background: none;
    color: grey;

    ion-icon {
      font-size: 10px;
    }
  }
}
}
}
