<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openmore($event, profile)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
      <ion-card-header>
      <h2 item-start>{{profile.type}}</h2>
    </ion-card-header>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="">
      </ion-thumbnail>
      <h2>{{profile.name}}</h2>
      <h3>{{profile.email}}</h3>
      <h3>{{profile.phone}}</h3>
    </ion-item>
  </ion-card>
  <ion-card  *ngIf="!customer">
    <ion-item>
      <button ion-button item-right small clear icon-only (click)="editprofile(profile)"><ion-icon name="create"></ion-icon></button>
      <h2>{{profile.category}}</h2><hr/>
      <ion-tags-input [(ngModel)]="tags" [readonly]="'true'" [once]="'true'" [mode]="'secondary'" [separatorStr]="','"></ion-tags-input>
    </ion-item>
    <ion-item class='newrate'>
            <h1 item-start>{{profile.rating}}</h1>
            <rating [(ngModel)]="profile.rating"
            readOnly="true"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"></rating>
    </ion-item>
  </ion-card>
  <ion-card  *ngIf="!customer">
    <ion-card-header>
      <h2>Reviews</h2><hr/>
    </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let review of reviews | slice:0:3; let i=index" class='statrating'>
          <ion-avatar item-start>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Palace_of_Fine_Arts_San_Francisco_January_2014_003.jpg">
          </ion-avatar>
          <b><small>{{review.rev_name}}</small></b>
          <rating [(ngModel)]="review.rating"
              readOnly="true"
              max="5"
              emptyStarIconName="star-outline"
              halfStarIconName="star-half"
              starIconName="star"
              nullable="false"></rating>
          <small>{{review.message}}</small>
        </ion-item>
        <ion-item  *ngIf="viewall">
          <button ion-button clear (click)="openreviews(reviews, profile.rating)">View all</button>
      </ion-item>
      </ion-list>
  </ion-card>

  <ion-card  *ngIf="!customer">
    <ion-card-header>
      <h2>Tips And Tricks</h2>
    </ion-card-header>

    <button ion-button item-end clear small>New</button>

  </ion-card>

</ion-content>
