modal-reviews {
  .newrate {
    .rating{
      padding-left:0px;
    }
    ul {
      &.rating li {
        color:green;
      }
    }
  }
  .statrating {
    .rating{
      padding-left:0px;
    }

    ul {
    padding: 0px;

    &.rating li {
      display: inline;
      border: 0px;
      padding: 0px 0px !important;
      background: none;
      color: grey;

        ion-icon {
          font-size: 15px;
        }
      }
    }
  }
}
